
body {
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    margin: 20px;
}

.titulo {
    font-family: 'Lobster', cursive !important;
    font-size: 36px;
    text-align: center;
    color: fuchsia;
}

.header {
    font-family: 'Georgia', serif;
    font-size: 18px;
    text-align: center;
}


.subtitulo {
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

.avanzado { background-color: red; }
.basico { background-color: fuchsia; }
.ninguno { background-color: pink; }

#mensaje {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}